h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    text-align: center;
    font-style: italic;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}