h1{
    font-family: 'Courier New', Courier, monospace;
    text-decoration-line: underline;
    font-size: 18px;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}