h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    text-align: center;
    font-style: italic;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    font-style: italic;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    font-style: italic;
}