@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

body::after{
    position:absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(https://r0.image2url.com/images/1765731303822-d003b0d5-9841-4d07-9be4-52c5ea6327c3.jpg);
}

.etuotsikko{
    font-family: "Pirata One", system-ui;
    font-size: 114px;
    text-align: center;
    text-shadow: 3px 3px 5px #ababab;
    font-weight: bold;
    font-style: italic;

}
.otsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    text-align: center;
    text-shadow: 3px 3px 5px #ababab;
    font-weight: bold;
    font-style: italic;
}

.sivuotsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    text-align: center;
    text-shadow: 3px 3px 5px #ababab;
    font-weight: bold;
    font-style: italic;
}

.contact{
    font-family: 'Courier New', Courier, monospace;
    font-size: 74px;
    text-align: center;
    text-shadow: 3px 3px 5px #ababab;
    font-weight: bold;
    font-style: italic;
}

.keskiteksti{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 4px;
}

.small{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 4px;
}

.counter{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 4px;
}

.keskikuva {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.blogiteksti{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 4px;
}

.blogiotsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 42px;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}

.kaikkikeskelle{
    margin-top: 300px;
    margin-left: 200px;
    margin-right: 200px;
}

.sivuotsikko{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}