h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px;
}

h3{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}

h5{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}

h6{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px;
}

p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: center;
    font-style: italic;
}