h1{
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: underline;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 9px;
}