h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
}